.articlesPage {
    margin: 0 auto;
    .articlesPageMain {
        max-width: 1500px;
        width: 100%;
        margin: 0 auto;
    //     .mostViewsArticles {
    //         animation: fadeOpacityToBottom .4s;
    //     }
    //     .bestAuthors {
    //         animation: fadeOpacityToBottom .4s;
    //     }
    //     .suggestedArticles {
    //         animation: fadeOpacityToBottom .4s;
    //     }
    }
    // footer {
    //     animation: fadeOpacityToTop .4s;
    // }
}

