
.show {
    transition: all .4s;
    transform: translateX(0);
}

.hide {
    transition: all .4s;
    transform: translateX(18.1rem);
}


.asideFiltering {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    text-align: center;
    background: rgba(52, 73, 94, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 9999;
    .asideFilteringMain {
        .elphebetFiltering {
            main {
                .letter {
                    margin: .2rem;
                    width: 30px;
                    height: 30px;
                    transition: all .3s;
                }
                .letter:hover {
                    background-color: #ecf0f1;
                    color: #2c3e50;
                    cursor: pointer;
                }
            }
        }
    }
    .submitFilters {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -2rem;
        left: -1.5rem;
        font-size: 1.5rem;
        padding: .5rem;
        border: 10px solid rgba(52, 73, 94, 0.4);
        background-color: #ecf0f1;
        color: #2c3e50;
        border-radius: 50%;
        transition: all .4s;
    }
    .submitFilters:hover {
        transform: translateX(-4px);
        cursor: pointer;
    }
    .nextui-checkbox-container {
        margin-left: 1rem;
    }
    .nextui-checkbox-text {
        font-size: .9rem;
        font-weight: 600;
        color: white;
    }
}

.showFilters {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 43%;
    left: -2.6rem;
    font-size: 1.5rem;
    padding: .9rem;
    border: 10px solid rgba(52, 73, 94, 0.4);
    background-color: #ecf0f1;
    color: #2c3e50;
    border-radius: 50%;
    transition: all .4s;
    z-index: 9999;
}
.showFilters:hover {
    transform: translateX(-4px);
    cursor: pointer;
}
.showFilters.leftedFilters {
    padding: 1.5rem 3.5rem 1.5rem .5rem;
    left: -4.5rem;
}