.myCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    .cardHeader {
        border-bottom: 1px solid black;
        padding: .7rem;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        img {
            width: 20%;
            border-radius: 50%;
        }
        .headerText {
            
        }
    }
    .cardBody {
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
    }
    .cardOptions {
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
    }
    .cardFooter {
        display: flex;
        flex-wrap: wrap;
        padding: .3rem;
        width: 100%;
        text-align: center;
        .hashtag {
            margin: .2rem .1rem;
            padding: .5rem .8rem;
            background-color: dodgerblue;
            color: white;
            border-radius: 1rem;
            transition: all .2s;
        }
        .hashtag:hover {
            cursor: pointer;
            background-color: blue;
        }
    }    
}