// usersForm ==============================
input, select, textarea {
  outline: none;
  border: none;
  font-family: Vazirmatn , serif;
}

.inputMedium {
  width: 100%;
  font-size: 1.1rem;
  padding: .75rem 1rem .75rem 0;
  border-radius: 7px;
}

input::placeholder {
  font-family: Vazirmatn , serif;
}

form {
  box-sizing: border-box;
}

// Buttons ===========================
button {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: Vazirmatn , serif;
}

.orangeBtn {
  border: 1px solid orange;
  padding: .2rem .3rem;
  border-radius: 1rem;
  transition: all .4s;
}

.orangeBtn:hover {
  background-color: orange;
  cursor: pointer;
}

.primaryBtn {
  border: 1px solid dodgerblue;
  padding: .2rem .3rem;
  border-radius: .3rem;
  transition: all .4s;
}

.primaryBtn:hover {
  background-color: dodgerblue;
  cursor: pointer;
}