.homePage {
    width: 100%;
    height: 100vh;
    background: url("./../public/images/pexels-jessica-lewis-creative-606541.jpg");
    background-size: cover;
    .homePageText {
        animation: fadeOpacityToBottom 2s;
        width: 500px;
    }
    .contact {
        animation: fadeOpacityToLeft 2s;
        width: 15%;
        svg {
            transition: all .4s;
        }
        svg:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}